@import-normalize;

:root {
  --good-background-color: #2aee4beb;
  --neutral-background-color: darkorange;
  --bad-background-color: crimson;
  --button-font-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* bring in normalize.css styles */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  padding: 50px 80px 50px 80px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Arial, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(242, 244, 242);

}